<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>test</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=2bkpqttxm3&&callback=initMap"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href="../static/css/app.8df55ae1.css" rel="preload" as="style">
    <link href="../static/css/chunk-vendors.56c915a6.css" rel="preload" as="style">
    <link href="../static/js/app.ac6b0da6.js" rel="preload" as="script">
    <link href="../static/js/chunk-vendors.f9e44bac.js" rel="preload" as="script">
    <link href="../static/css/chunk-vendors.56c915a6.css" rel="stylesheet">
    <link href="../static/css/app.8df55ae1.css" rel="stylesheet">
    <script src="../static/js/action.js"></script>
    <script src="../static/js/map.js"></script>
    
</head>

<body><noscript><strong>We're sorry but test doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id="app"></div>
    <div id="map"></div>
    <script src="../static/js/chunk-vendors.f9e44bac.js"></script>
    <script src="../static/js/app.ac6b0da6.js"></script>
</body>

</html>