<!-- first view with 3 buttons -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Camping Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
<!-- header -->
<div>
<v-card class="overflow-hidden">
<v-app-bar
    absolute
    color="#669966"
    elevate-on-scroll
    scroll-target="#scrolling-techniques-7"
>
    <v-toolbar-title>Smart 캠핑 차박 추천 서비스</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon>
    <v-icon>mdi-login</v-icon>
    </v-btn>

    <v-btn icon>
    <v-icon>mdi-dots-vertical</v-icon>
    </v-btn>
</v-app-bar>
<v-sheet
    id="scrolling-techniques-7"
    class="overflow-y-auto"
    max-height="50">

</v-sheet>
</v-card>

</div>

    <!-- body -->
<div id="main">
        <v-container>
            <v-row class="row-group">
                <v-col>
                    <v-btn id="main_btn" color="secondary" elevation="5" fab large x-large style="color:#669966;" href="/main">캠핑/차박
                        검색
                    </v-btn>
                </v-col>

                <v-col>
                    <v-btn id="main_btn" color="secondary" elevation="5" fab large x-large style="color:#669966;" href="/community">포탈
                    </v-btn>
                </v-col>
                <v-col>
                    <v-btn id="main_btn" color="secondary" elevation="5" fab large x-large style="color:#669966;" href="/mycamping">
                        마이캠핑</v-btn>
                </v-col>
            </v-row>
        </v-container>

    </div>




        <!-- footer -->
    <div>
    <v-footer color="#669966" padless style="width: 100%">
        <v-card
            flat
            tile
            class="indigo lighten-1 white--text text-center"
            color="#669966"
        >
            <v-card-text>
            <v-btn v-for="icon in icons" :key="icon" class="mx-4 white--text" icon>
                <v-icon size="24px">
                {{ icon }}
                </v-icon>
            </v-btn>
            </v-card-text>
    
            <v-card-text class="white--text pt-0"> </v-card-text>
            <v-divider></v-divider>
    
            <v-card-text class="white--text">
            <strong>Vuetify</strong>
            </v-card-text>
        </v-card>
        </v-footer>   
        
        
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        window.onload = function () {
            var app = new Vue({
                el: '#app',
                vuetify: new Vuetify(),
                data: {
                    icons: ["mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram"],
                }
            })
        }
    </script>

</body>
<style>

</style>
</html>