{% extends "layout.html" %}
{% block content %}
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<link href="../static/css/modal_style.css" rel="stylesheet" type="text/css">

<script type="text/javascript"
src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=2bkpqttxm3&&submodules=geocoder"></script>
<script src="../static/js/action.js"></script>
<div class="search_side">

    <div>
        <div class="buttons">
            <div id="start_position_search">
                <input type="text" id="start_position_text" placeholder="출발지를 입력하세요">
                <button id="get_my_location_btn" class="btn btn-primary btn-lg" >
                    현재위치
                </button>
            </div>
            <div id="end_position_search">
                <input type="text" id="dest_position_text" onclick="dest_position_text()" placeholder="박스를 탭하세요">
                <button type="button" id="set_destination_btn">길안내</button>
            </div>
        </div>
    </div>
    <!-- ranking vue -->

    <div id="ranking_container">
        <v-card
        tile
        style="width: 100%" 
        v-if="popular"
      >
        <v-list rounded>
          <v-subheader>인기 검색지</v-subheader>
          <v-list-item-group
            v-model="selectedItem"
            color="primary"
          >
            <v-list-item
              v-for="(popular, i) in populars"
              :key="i"
            >
              <v-list-item-content>
                <v-title v-text="popular.title">{{popular.title}}</v-title>
              </v-list-item-content>
              <v-list-item-content>
                <v-list-item-title v-text="popular.campingsite"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card>


    </div>
</div>



<!-- modal part -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <section id="photos">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF9G-UFAbO7tFzELzAxyOETOskVhZv88S7wg&usqp=CAU">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjnykgO2uMoADi1AqsoL4gpsDqyQHAQ85I2A&usqp=CAU">
                    <img src="https://ojsfile.ohmynews.com/STD_IMG_FILE/2016/0516/IE001963941_STD.jpg">
                </section>
                <section id="reviews">
                    <h3>review</h3>
                    not good<br>
                    its ok<br>
                </section>
                <section id="info">
                    <h3>info</h3>

                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- vue script -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



{% endblock %}