
div#header {
    height: 80px;
}

.search_side {
    float: left;
    
    width: 25%;
    z-index: 1;
    top: 0;
    padding: 20px;
    border: 2px solid #669966;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 30px;
    height: 90%;

}

.main_contents{
    height:700px;
}
#map{
    float: right;
    /* margin-left: 400px; */
    padding : 0 10px;
    width: 70%;
    height: 90%;
    margin-top: 30px;
    border-radius: 20px;
    border: 2px solid #669966;
}

html, body{
    height : 100%;
}

#end_position_search{
    float:left;
}

/* main 홈화면 */
#main {
    height: 700px;
    text-align: center;

}
/* 메인 3개 버튼 */
.row-group {
    padding-top: 250px;
}

#main_btn {
    width: 200px;
    height: 200px;
}

#get_my_location_btn{
    width: auto;
    height: 30px;
    background-color: #669966;
    text-align: center;
    font-size: small;
}

input#start_position_text {
    width: 80%;
    padding: 5px;
    margin: 10px;
    border: 1px solid grey;
}


.btn-lg {
    padding: 0px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
button#set_destination_btn {
    width: auto;
    height: 30px;
    background-color: #669966;
    text-align: center;
    font-size: small;
    border-radius: 10px;
    margin: 5px;
}

input#dest_position_text {
    width: 80%;
    padding: 5px;
    margin: 10px;
    border: 1px solid grey;
}

div#end_position_search {
    width: 100%;
}


